<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{% static 'main_app/about.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/all.css' %}">
{#    <link rel="stylesheet" href="{% static 'main_app/home.css' %}">#}
    <link rel="stylesheet" href="{% static 'main_app/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap" rel="stylesheet">
    <title>About Us</title>
</head>

<body>

    <!-- navbar  -->
    <nav class="navbar navbar-expand-md navbar-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">AlgoVault</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-1">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tutorials' %}">Tutorials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" area-current="page" href="{% url 'aboutUs' %}">About Us</a>
                    </li>
                </ul>


                {% if user.is_authenticated %}
                    <form class="d-flex">
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             {{ user.username }}
                            </button>
                            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                                <a class="dropdown-item" href="{% url 'approvedposts' %}">My Posts</a>
                                <a class="dropdown-item" href="{% url 'progress' %}">My Progress</a>
                            </div>
                        </div>
<button class="shuvo" type="submit" formaction="{% url 'logout' %}">Log Out</button>


                    </form>


                {% else %}
                    <div class="box  ">
                        <div class="breadcrumb">

                          <li class="breadcrumb-item "><a href="{% url 'login' %}">Login</a></li>
                          <li class="breadcrumb-item"><a href="{% url 'signup' %}">Register</a></li>
                        </div>
                    </div>

                {% endif %}


            </div>

        </div>
    </nav>
    <div class="container about-project">
        <div class="row">
            <div class="col-md-12  ">
                <H1>About The Project</H1><br>
                <p class="sisi" style="font-size: 120%">In the path of programming and problem solving, mentors play a huge role for their
mentees. In the beginning, a new programmer wouldn’t always know what to do or how
to plan their learning paths. That is where mentors come as saviors. But it isn’t always
easy to find a good and experienced mentor. Depending on the mentor, a programmer
may become very good and go far or they might give up midways being demotivated
and depressed. That is why we decided to build a system that would act as a mentor for
programmers and will always be available to everybody. As such lowering the
dependency on mentors for beginners.</p>
            </div>
        </div>
    </div>

    <section class="team">
        <div class="container teamsection">
            <h1>OUR TEAM</h1>
            <div class="row">
                <div class="col-md-4 profile text-center">
                    <div class="img-box">
                        <img src="{% static 'main_app/images/sakib.jpg' %}" class="img-fluid">
                        <ul>
                            <a target="_blank" href="https://www.facebook.com/profile.php?id=100007969547828"><li><i class="fab fa-facebook"></i></li></a>
                            <a target="_blank" href="https://github.com/nsakib800"><li><i class="fab fa-github"></i></li></a>
                        </ul>

                    </div>
                    <h2>Nazmus Sakib</h2>
                    <h3>Programmer / Web Developer</h3>
                    <p>Email: nsakib800@gmail.com</p>
                </div>
                <div class="col-md-4 profile text-center">
                    <div class="img-box">
                        <img src="{% static 'main_app/images/shuvo.jpg' %}" class="img-fluid">
                        <ul>
                            <a target="_blank" href="https://www.facebook.com/jubayerahmmodshuvo"><li><i class="fab fa-facebook"></i></li></a>
                            <a target="_blank" href="https://github.com/JubayerAhmmodShuvo"><li><i class="fab fa-github"></i></li></a>
                            <a target="_blank" href="https://www.linkedin.com/in/jubayerahmmodshuvo"><li><i class="fab fa-linkedin"></i></li></a>
                        </ul>

                    </div>
                    <h2>Jubayer Ahmmod Shuvo</h2>
                    <h3>Programmer / Web Developer</h3>
                    <p>Email: jubayerahmmod@gmail.com</p>

                </div>
                <div class="col-md-4 profile text-center">
                    <div class="img-box">
                        <img src="{% static 'main_app/images/mehedi.jpg' %}" class="img-fluid ">
                        <ul>
                            <a target="_blank" href="https://www.facebook.com/profile.php?id=100008498054506"><li><i class="fab fa-facebook "></i></li></a>
                            <a target="_blank" href="https://github.com/saharia-mehdi"><li><i class="fab fa-github"></i></li></a>
                        </ul>

                    </div>
                    <h2>Shahria Khan Mehedi</h2>
                    <h3>Designer / Web Developer</h3>
                    <p>Email: mehedihasan946474@gmail.com</p>

                </div>







            </div>

        </div>
    </section>




















    <!-- <footer  > 
            <h6> <a href="# ">Contact Us</a> </h6>
            <h6> <a href="# ">@AlgoVault</a>,INC</h6>
          
           
            
        </footer>-->







    <script src="{% static 'main_app/all.js' %}"></script>
    <script src="{% static 'main_app/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>

</html>