<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'main_app/contactus.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/all.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap" rel="stylesheet">
    <title>Contact Us</title>
</head>
<body>
      <!-- navbar  -->
     <!-- navbar  -->
   <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">AlgoVault</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-1 ">
        <li class="nav-item">
            <a class="nav-link"  href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" area-current="page" href="{% url 'tutorials' %}">Tutorials</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'aboutUs' %}">About Us</a>
        </li>
        </ul>

    {% if user.is_authenticated %}

        <form class="d-flex">
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                </button>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'approvedposts' %}">My Posts</a>
                        <a class="dropdown-item" href="{% url 'progress' %}">My Progress</a>
                </div>
            </div>
           <button class="shuvo" type="submit" formaction="{% url 'logout' %}">Log Out</button>
        </form>

    {% else %}
        <div class="box  ">
            <div class="breadcrumb">

              <li class="breadcrumb-item"><a href="{% url 'login' %}">Login</a></li>
              <li class="breadcrumb-item"><a href="{% url 'signup' %}">Register</a></li>
            </div>
        </div>

    {% endif %}


            <!-- <button class="bt" type="submit">Register</button> -->
            <!-- <button class="bt" type="submit">Login</button> -->
    </div>

    </div>

    </nav>
    <!-- contact area -->
    <section class="contact-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form action="{% url 'contactUs' %}" method="POST" class="contact-form">
                        {% csrf_token %}

                        <div class="contact-title text-center text-dark">
                            <h1>Get In Touch</h1>
                             <h5>Email: contact.algovault@gmail.com</h5>
                            {% if msg %}
                                <p>Thank you for reaching out to us. We have received your message.</p>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type=" text" name="name" placeholder="Full Name">
                            </div>
                        
                                <div class="col-md-6">
                                    <input type=" text" name="email" placeholder="Email Address">
                                </div>
                                
                            
                                    <div class="col-md-12">
                                        <input type=" text" name="subject" placeholder="Subject">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea name="message" placeholder="Message Here" id="messagebox" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                    <div class="contact-btn text-center">
                                        <button type="submit">Contact Us</button>
                                    </div>
                                    </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>




<!-- footer 



        <footer  >
            <h6> <a  href="#">Contact Us</a> </h6>
            <h6> <a href="#">@AlgoVault</a>,INC</h6>
          
           
            
        </footer>-->


    <script src="{% static 'main_app/all.js' %}"></script>
    <script src="{% static 'main_app/bootstrap.bundle.min.js' %}"></script>
</body>

</html>