<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{% static 'main_app/profile.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/all.css' %}">
    <link rel="stylesheet" href="{% static 'main_app/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap" rel="stylesheet">
    <title>Profile</title>
</head>

<body>
    <!-- navbar  -->
    <nav class="navbar navbar-expand-md navbar-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">AlgoVault</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-1">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tutorials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'aboutUs' %}">About Us</a>
                    </li>
                </ul>


                <form class="d-flex">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </button>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item" href="#">Notifications</a>
                        </div>
                    </div>
                    <button class="logout-profile" type="submit" formaction="{% url 'logout' %}">Log Out</button>
                </form>


            </div>

        </div>
    </nav>



    <div class="container">
        <div class="login-form">
            <form action="#" method="POST">
                {% csrf_token %}

                <div class="form-name">
                    <span><i>Update Profile</i></span>
                    <!-- <p>error 404</p> -->
                </div>


                <fieldset disabled>
                    <div class="form-group">
                        <label for="username"> * Username:</label>
                        <input type="text" class="form-control item " id="username" value="{{ user.username }}">
                    </div>
                </fieldset>
                <div class="form-group">
                    <label for="FullName">FullName:</label>
                    <input type="text" class="form-control item" id="fullname" required="true" name="fullname" value={{ name }}>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control item" id="email" required="true" value="{{ user.email }}">
                </div>

                <div class="form-group">
                    <label for="password">Current Password:</label>
                    <input type="password" class="form-control item" id="current_password" name="current_password">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control item" id="new_password" name="new_password">
                </div>

                <div class="form-group">
                    <label for="repeat-password">Repeat-Password:</label>
                    <input type="password" class="form-control item" id="new_password2" name="new_password2">
                </div>



                <span class="col-mx-auto ml-3 float-right">
                    <button type="submit" class="btn btn-primary" id="Update" name="btn1" value="1">Update</button>
                </span>


                <span class="col-mx-auto ml-3 float-right">
                    <button type="submit" class="btn btn-light" id="cancel" name="btn2" value="1" formaction="{% url 'profile' %}">Reset</button>
                </span>

            </form>

        </div>
    </div>


















    <!-- <footer  > 
            <h6> <a href="# ">Contact Us</a> </h6>
            <h6> <a href="# ">@AlgoVault</a>,INC</h6>
          
           
            
        </footer>-->







    <script src="{% static 'main_app/all.js' %}"></script>
    <script src="{% static 'main_app/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>

</html>