<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'accounts/login.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/all.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap" rel="stylesheet">
    <title>Login form</title>
</head>
<body>
  <section>

     <!-- navbar  -->
   <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">AlgoVault</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'tutorials' %}">Tutorials</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'aboutUs' %}">About Us</a>
        </li>
        </ul>
        <form class="d-flex" action="{% url 'signup' %}">
            <button class="bt" type="submit">Register</button>
            </form>
    </div>
 
    </div>
</nav>

<!-- loginform -->


<div class="container">
    <div class="login-form">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            <div class="form-name">
                <span><i>Log In</i></span>

                {% if error %}
                    <p style="color: red ; font-size: small; ">{{ error }}</p>
                {% endif %}

                {% if success_msg %}
                    <p style="color: green ; font-size: small; " >{{ success_msg }}</p>
                {% endif %}

            </div>

            <div class="form-group">
                <input type="text" class="form-control item" id="username" name="username" placeholder="Username" required="true">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="password" name="password" na placeholder="Password" required="true">
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn login-account" >
            </div>
            <div class="form-group ">
                <a href="{% url 'reset_password' %}">Forgot your password?</a>
            </div>
        </form>
       
    </div>
 </div>




        <!-- <footer  > 
            <h6> <a href="#">Contact Us</a> </h6>
            <h6> <a href="#">@AlgoVault</a>,INC</h6>
          
           
            
        </footer>-->

    
  </section>


    <script src="{% static 'accounts/all.js' %}"></script>
    <script src="{% static 'accounts/bootstrap.bundle.min.js' %}"></script>
</body>

</html>