
body {
    background-color: FFFFFF !important;
    color: rgb(204, 204, 204) !important;
}


  /*footer*/

  footer{
  
    height: 36px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 36px;
    text-align: center;
    margin-top:7px;
    color: white;
   
}
footer  {
    text-decoration: none;
    background-color: rgb(148, 181, 231);
    color:white;
   margin-top: 3vh;
   background: #094F6C;
   padding-top: 10px;
   height: 72px;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-style: normal;
    margin-top: 80px!important;
}
footer a:hover{
    color:white;
    text-decoration: underline;
    font-weight: bold;
}

 /*navsection*/
 .navbar{
    background-color: #094F6C;
    height: 7vh!important;
    
 }
.navbar-brand{
 font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem!important;
    font-weight: 500;
 
 }
 /* .nav-link{
     color: black!important;
 } */
 .box{
    font-family: 'Poppins';
    font-weight: bold;
    border: 0px solid #818FF2;
    background-color: #818FF2;
   
    border-radius: 30px;
    height: 4vh;
    width: 160px;
   padding: 6.5px;
     
 

 }
 .box li a {
     font-size: 1rem;
     margin-left: 5px;
     margin-top: 20px;
     align-items: center;
     color: #fff;
     text-decoration: none;

 }
 .box li a:hover{
     color: rgb(0, 0, 0);
     text-decoration: underline;
 }


 /*navsection*/
 .navbar{
    background-color: #094F6C;
    height: 7vh!important;
    
 }
.navbar-brand{
 font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem!important;
    font-weight: 500;
 
 }



.nav-link{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
   
    font-size: 1em;
    line-height: 0px;
    justify-content: space-between;
    margin-top: 1.5vh;
}


/* body */
.card{
    margin-top: 3vh;
}


.btn-link{
    color: rgb(0, 0, 0)!important;
    text-decoration: none!important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500!important;
    margin-top: 2vh;
}
.btn-link:hover{
    color: rgb(0, 0, 0)!important;
   
    font-family: 'Poppins', sans-serif;
    font-weight: bold!important;
}