
body {
    background-color: FFFFFF !important;
    color: rgb(204, 204, 204) !important;
}

.content{
    color: black;
    font-family: "poppins";
    justify-content: center;
    text-align: center;
    margin-top:28%;
   
}
/* h3 {
    font-size: 2rem;
    font-weight: bold;
 
}
p {
    font-size: 1rem;
   
}*/


/* navbar */
.navbar{
    background-color: #094F6C;
    height: 7vh!important;
    
 }
.navbar-brand{
 font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem!important;
    font-weight: 500;
 
 }
 form .bt{
     background-color: #818FF2;
     padding: 5px 5px;
     border: 0;
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 400;
     color: #FFFFFF;
     font-size: 1em;
     width: 123px;
     border-radius: 32px;
     margin-right: 25px;
    
}
form .bt:hover{
    text-decoration: underline;
    background-color: rgb(148, 181, 231);
    color: black;

}
.nav-link{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1em;
    line-height: 0px;
    justify-content: space-between;
    margin-top:1.5vh;
}
